[user]
	name = Branden Clark
	email = {{ .email }}
	signingkey = B29867EDAFE7F1AF3BDF58F2AF0EEA95F9EB2651
[commit]
	gpgsign = true
	forceSignAnnoted = true
[gpg]
	program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe

[diff]
	wserrorhighlight = all
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-status = 1
	hide-dirty = 1
